---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Downloading {{ terragrunt_url }}
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ terragrunt_url }}'
    dest: '{{ terragrunt_exe }}'
    mode: '755'
    checksum: '{{ terragrunt_checksum }}'
    timeout: '{{ terragrunt_timeout }}'
- name: Linking {{ terragrunt_link }} to {{ terragrunt_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ terragrunt_exe }}'
    dest: '{{ terragrunt_link }}'
    state: link
